
$header-top: 0px;
$header-height: 100px;
$header-bottom: calc( $header-top + $header-height );

/**
    The width at of the comment button expander that shows for each model
**/
$comment-button-width: 70px;
$comment-button-height: calc($comment-button-width * 2 / 3);

$footer-height: 75px;
$showcase-footer-overlap: 50px;

/*
    The showcase overlaps with the header completely and extends half way into the footer
*/
$showcase-top: 0px;
/*
    Make the showcase extend half way into the footer
*/
$showcase-height: calc(100% - $footer-height + $showcase-footer-overlap);
$showcase-left: 10px;
$showcase-width: 66%;

/*
    Make the model ratio should be 2 height to 3 width since that is what the Sketchup videos are.
    The Sketchup models don't care what the ratio is but look best at that ration
    since the scenes are created based on that. I can't figure out a good way to automate
    the 2 / 3 ration at this point, so it's a matter of adjusting the footer or header height
    along with the showcase-width percent
*/
$model-3d-top: calc($header-height);
$model-3d-width: 100%;
$model-3d-height: calc(calc(100% - $header-height - $showcase-footer-overlap));
/*
    The model overlaps the document
*/
$model-3d-document-overlap: 20px;

$media-height: 100px;
$gallery-thumbnail-width: 100px;
$gallery-thumbnail-height: 75px;
/*
    The gallery containing the lightbox doesn't quite extend to the document
*/
$gallery-width: calc( $model-3d-width - $model-3d-document-overlap - 5px);
/*
    The lightbox top overlaps the header. We want the lightbox header
    to be in the header and the actual lightbox image to match the model-3d-top
*/
$lightbox-top: calc($header-height - 40px);
/*
    The lightbox footer overlaps the footer. We want the lightbox footer
    to be in the footer and the actual lightbox image to match the footer top
*/
$lightbox-height: calc( 100% - calc($lightbox-top + $footer-height) + $showcase-footer-overlap * .7);
$lightbox-left: $showcase-left;

$document-top: calc( $header-bottom );
$document-height: calc( 100% - $footer-height );
/*
    The left side of the document bleeds over the 3d model
    The 3d model's right gradient fades the 3d model away so we can see the document
*/
$document-left: calc( $showcase-width - $model-3d-document-overlap);
$document-width: calc( 100% );
$document-margin-left: 10px;
/* Discounts the margin for use positioning the page up/down arrows */
$document-absolute-left: calc( $document-left - $document-margin-left);

$white: floralwhite;
$blue: color(deepskyblue lightness(30%));
$red: tomato;
$yellow: wheat;
$black: #4D4E53; /* charcoal gray */
$rescape-love: #6E2236;

$fadeblue: color(deepskyblue saturation(30%));
$lightblue: color(deepskyblue lightness(80%));
$fadesand: color(wheat saturation(30%));
$sand: color(wheat lightness(80%));
$gray: color($black lightness(80%));
$faded-gray: color($white a(90%));
$faded-gray-background: color($black a(70%));

$font-stack: Railway, Arial, Helvetica, sans-serif;
$page-background: $black;
$page-padding: 2em;

$h1-font-size: 3em;
$h2-font-size: calc( $h1-font-size * 80 / 100 );
$h3-font-size: calc( $h1-font-size * 60 / 100 );
$h4-font-size: calc( $h1-font-size * 40 / 100 );
$h5-font-size: calc( $h1-font-size * 30 / 100 );
$h6-font-size: calc( $h1-font-size * 20 / 100 );
$h7-font-size: calc( $h1-font-size * 10 / 100 );
$normal-font-size: calc( $h1-font-size * 33.3 / 100 );

$h1-line-height: 50px;
$h2-line-height: calc( $h1-line-height * 80 / 100 );
$h3-line-height: calc( $h1-line-height * 60 / 100 );
$h4-line-height: calc( $h1-line-height * 40 / 100 );
$h5-line-height: calc( $h1-line-height * 30 / 100 );
$h6-line-height: calc( $h1-line-height * 20 / 100 );
$normal-line-height: calc( $h1-line-height * 33.3 / 100 );

$heading-color: $black;
$normal-font-color: $black;
$link-color: color($rescape-love lightness(50%));
$link-color-hover: color($rescape-love lightness(60%));
$transparent-black: color($black alpha(60%));
