
$header-top: 0px;
$header-height: 100px;
$header-bottom: calc( $header-top + $header-height );

$footer-height: 50px;

$showcase-top: calc( $header-bottom + 10px );
/*
    Make the showcase extend half way into the footer
*/
$showcase-height: calc(100% - ($footer-height / 2));
$showcase-width: 800px;

$media-height: 100px;

/*
    The model extends to the top of the footer and overlaps a bit with the header
*/
$model-3d-top: calc($header-height - 10px);
$model-3d-height: calc(100% - $model-3d-top - ($footer-height / 2));
$model-3d-width: $showcase-width ;
$model-3d-document-overlap: 100px;

$document-top: calc( $header-bottom );
$document-height: calc( 100% - $footer-height );
/*
    The left side of the document bleeds over the 3d model
    The 3d model's right gradient fades the 3d model away so we can see the document
*/
$document-left: calc( $model-3d-width - $model-3d-document-overlap);
$document-width: calc( 100% );



$white: floralwhite;
$blue: color(deepskyblue lightness(30%));
$red: tomato;
$yellow: wheat;
$black: #4D4E53; /* charcoal gray */

$fadeblue: color(deepskyblue saturation(30%));
$lightblue: color(deepskyblue lightness(80%));
$fadesand: color(wheat saturation(30%));
$sand: color(wheat lightness(80%));
$gray: color($black lightness(80%));

$font-stack: Arial, Helvetica, sans-serif;
$page-background: $black;
$page-padding: 2em;

$h1-font-size: 3em;
$h2-font-size: calc( $h1-font-size * 80 / 100 );
$h3-font-size: calc( $h1-font-size * 60 / 100 );
$h4-font-size: calc( $h1-font-size * 40 / 100 );
$normal-font-size: calc( $h1-font-size * 33.3 / 100 );

$h1-line-height: 50px;
$h2-line-height: calc( $h1-line-height * 80 / 100 );
$h3-line-height: calc( $h1-line-height * 60 / 100 );
$h4-line-height: calc( $h1-line-height * 40 / 100 );
$normal-line-height: calc( $h1-line-height * 33.3 / 100 );

$heading-color: $black;
$normal-font-color: $black;
$link-color: $blue;