

.comments {
    position: fixed;
    z-index: 10;
    &.showing {
        margin-left: 10px;
        top: calc(var(--model-3d-top));
        left: 0px;
        width: calc(var(--showcase-width) - var(--model-3d-document-overlap));
        height: var(--document-height);
    }
}

.disqus-close-icon {
    position: absolute;
    top: 2px;
    height: 24px;
    width: 24px;
    right: 0px;
    padding: 2px;
    &:hover {
         cursor: pointer;
         width: 30px;
         height: 30px;
         transition: width 300ms ease, height 300ms ease
    }
}

.disqus-comment-count {

}

.comment-description {

}


.disqus-comment-thread-container {
    position: absolute;
    top: 0px;
    bottom: calc(var(--footer-height) - var(--showcase-footer-overlap));
    left: 0px;
    right: 0px;
    background-color: color(var(--black) alpha(90%));
}

.disqus-comment-thread-header {
    height: 30px;
}

.disqus-comment-thread {
    position: absolute;
    padding: 5px;
    top: 30px;
    bottom: calc(var(--footer-height) - var(--showcase-footer-overlap));
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    border-radius: 5px;
}

.disqus-header-title {
    color: rgb(195, 60, 96);
    font-size: var(--h3-and-a-half-font-size);
    font-weight: 700;
    line-height: 1.25em;
}
