
.document-comments {
    position: fixed;
    z-index: 10;
    top: 0;
    left: calc($showcase-width - $model-3d-document-overlap - 82px);
    width: $comment-button-width;
    height: $comment-button-height;

}

.model-comments {
    position: fixed;
    z-index: 10;
    top: calc($model-3d-top - 38px);
    left: calc($showcase-width - $model-3d-document-overlap - 70px);
    width: $comment-button-width-small;
    height: $comment-button-height-small;
}

.comments {
    position: fixed;
    z-index: 10;
    &.showing {
        margin-left: 10px;
        top: calc($model-3d-top);
        left: 0px;
        width: calc($showcase-width - $model-3d-document-overlap);
        height: $model-3d-height;
    }
}

.disqus-close-icon {
    position: absolute;
    top: 2px;
    height: 24px;
    width: 24px;
    right: 0px;
    padding: 2px;
    &:hover {
         cursor: pointer;
         width: 30px;
         height: 30px;
         transition: width 300ms ease, height 300ms ease
    }
}

.comment-counter {
    position: relative;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    color: $rescape-love;
    transition: right 300ms ease, width 300ms ease, height 300ms ease;
    &.comment-counter-document {
         font-size: $comment-count-font-size;
         &:hover {
              font-size: calc($comment-count-font-size * 1.1);
         }
    }
    &.comment-counter-model {
        font-size: $comment-count-font-size-small;
        &:hover {
            font-size: calc($comment-count-font-size-small * 1.1);
        }
    }
    &:hover {
        cursor: pointer;
        left: -5px;
        width: calc($comment-button-width + 10px);
        height: calc(47px + 10px);
        transition: right 300ms ease, width 300ms ease, height 300ms ease, font-size 300ms ease;
    }
}
.comment-icon {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.comment-count {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 10%;
    text-align: left;
    line-height: 10px;
    vertical-align: middle;
}
.disqus-comment-count {

}

.comment-description {

}


.disqus-comment-thread-container {
    position: absolute;
    top: 0px;
    bottom: calc($footer-height - $showcase-footer-overlap);
    left: 0px;
    right: 0px;
    background-color: color($black alpha(90%));
}

.disqus-comment-thread-header {
    height: 30px;
}

.disqus-comment-thread {
    position: absolute;
    padding: 5px;
    top: 30px;
    bottom: calc($footer-height - $showcase-footer-overlap);
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    border-radius: 5px;
}

.disqus-header-title {
    color: rgb(195, 60, 96);
    font-size: $h3-and-a-half-font-size;
    font-weight: 700;
    line-height: 1.25em;
}
