/***
    Note that the Document component's content uses styles that come from Google Docs. These are thus
    intended to be additions and overrides. More overrides are below in modelSection, a div
    injected for each section of the document that represents a 3d Model (as demarcated in the original
    doc with <hr> elements)
***/

body {
    font-family: TrainStation;
    background: var(--rescape-love);
}

/*
    If an overlay Document is showing like About or Contact, hide the main Document
*/
.document {
    overflow-y: scroll;
    top: var(--document-top);
    bottom: 0;
    left: var(--document-left);
    width: var(--document-width);
    margin-top: 20px;
    z-index: 2;
    position: absolute;

    &.overlay-document-showing {
        display: none;
    }

    &.overlay {
        left: var(--overlay-document-left);
        display: block;
    }
}

/**
    Cover the showcase when an overlay Document is showing
**/
.showcase-screen {
    position: fixed;
    z-index: 2;
    background-color: var(--faded-black-background);
    top: var(--document-top);
    height: var(--showcase-height);
    left: 0;
    right: 0;
}

.overlay-document-close-icon {
    position: fixed;
    z-index: 10;
    top: calc(var(--document-top) - 30px);
    height: 24px;
    width: 24px;
    right: 0;
    margin-right: var(--document-margin-left);
    padding-right: 10px;

    &:hover {
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: width 300ms ease, height 300ms ease;
    }
}

/***
    Author credit, date, etc.
***/
.document-header {
    font-size: var(--h5-font-size);
}

.document-gradient {
    top: var(--document-top);
    position: fixed;
    margin-right: var(--document-margin-left);
    z-index: 2;
    bottom: 0;
    left:0;
    right: 0;
    width: var(--document-width);
    height: var(--document-height);

/* This gradient matches the overlap of the 3d model and document so that the 3d model
fades away where ever the document overlaps */
&.left {
     background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     right: auto;
 }
&.right {
     background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     left: auto;
 }
&.top {
     background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     height: 10px;
     bottom: auto;
 }
&.bottom {
     background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
     height: 10px;
     top: auto;
 }
}

/**
    This matches the classes google uses for the document text
    we only want to override the font size for small devices
**/
p,li {

    &.c0,&.c1,&.c2,&.c3,&.c4,&.c5,&.c6,&.c7,&.c8,&.c9 {
        font-family: SanSourcePro;
        font-size: var(--document-font-size);
        line-height: var(--document-line-height);
    }

}

/* This class is injected with divs to separate the documents by the 3d Model that goes with it */
.model-section {
    background: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#header {
    color: black;
    font-size: var(--document-title-font-size);
}
.document-credit {
    color: var(--gray);
    font-family: SanSourcePro;
    font-size: var(--h5-font-size);
}
.author {
    color: var(--gray);
    font-family: SanSourcePro;
    font-size: var(--h5-font-size);
}
.document-date {
    color: var(--gray);
    font-family: SanSourcePro;
    font-size: var(--h5-font-size);
}

.bookmark-icon {
    position: relative;
    float: right;
    margin-right: -8px;
    margin-top: -8px;
    height: 15px;
}