/***
    Note that the Document component's content uses styles that come from Google Docs. These are thus
    intended to be additions and overrides. More overrides are below in modelSection, a div
    injected for each section of the document that represents a 3d Model (as demarcated in the original
    doc with <hr> elements)
***/


::-webkit-scrollbar {
    display: none;
}

/*
    If an overlay Document is showing like About or Contact, hide the main Document
*/
.document {
    overflow-y: scroll;
    top: var(--document-top);
    font-family: TrainStation;
    bottom: 0;
    left: var(--document-left);
    width: var(--document-width);
    margin-top: 20px;
    z-index: 2;
    position: absolute;


    &.overlay-document-showing {
        display: none;
    }

    &.overlay {
        left: var(--overlay-document-left);
        width: var(--overlay-document-width);
        margin-left: 5px;
        margin-right: 5px;
        display: block;
    }
}

/**
    Cover the showcase when an overlay Document is showing
**/
.showcase-screen {
    position: fixed;
    z-index: 2;
    background-color: var(--faded-black-background);
    top: var(--document-top);
    height: var(--showcase-height);
    left: 0;
    right: 0;
}

.overlay-document-close-icon {
    position: fixed;
    z-index: 10;
    top: calc(var(--document-top) - 30px);
    height: 24px;
    width: 24px;
    right: 0;
    margin-right: var(--document-margin-left);
    padding-right: 10px;

    &:hover {
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: width 300ms ease, height 300ms ease;
    }
}

/***
    Author credit, date, etc.
***/
.document-header {
    font-size: var(--h5-font-size);
}

/**
    This matches the classes google uses for the document text
    we only want to override the font size for small devices
**/
p,li,span {

    &.c0,&.c1,&.c2,&.c4,&.c3,&.c5,&.c6,&.c7,&.c8,&.c9 {
        font-family: var(--font-stack);
        font-size: var(--document-font-size);
        line-height: var(--document-line-height);
    }
}

h3 {
    /** Document headers **/
    &.c10, &.c11, &.c12, &.c13, &.c14, &.c15 {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        >span {
            font-family: TrainStation;
            font-size: var(--document-subheader-font-size);
            line-height: var(--document-line-height);
        }
    }
}

/* This class is injected with divs to separate the documents by the 3d Model that goes with it */
.model-section {
    background: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 35px;
    padding-right: 52px;
}

#header {
    color: black;
    font-size: var(--document-title-font-size);
}
.document-credit {
    color: var(--gray);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--h5-font-size);
}
.author {
    color: var(--gray);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--h5-font-size);
}
.document-date {
    color: var(--gray);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--h5-font-size);
}

.model-section {
    >a {
        position: absolute;
        left: 15px;
        margin-top: 4px;
    }
}
.scene-circles {
}

.toc-scene {
    position: absolute;
    right: 0px;
    margin-right: 22px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: var(--gray);
    &.active {
        background: var(--table-of-contents-current-color);
    }
}