/***
    Note that the Document component's content uses styles that come from Google Docs. These are thus
    intended to be additions and overrides. More overrides are below in modelSection, a div
    injected for each section of the document that represents a 3d Model (as demarcated in the original
    doc with <hr> elements)
***/
.document {
    top: $document-top;
    left: $document-left;
    margin-right: $document-margin-left;
    z-index: 2;
    position: absolute;
}

/***
    Author credit, date, etc.
***/
.document-header {
    font-size: $h5-font-size;
}

.document-gradient {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: $document-width;
    height: $document-height;

&.left {
     background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     right: auto;
 }
/* This gradient matches the overlap of the 3d model and document so that the 3d model
fades away where ever the document overlaps */
&.right {
     background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     left: auto;
 }
&.top {
     background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     height: 10px;
     bottom: auto;
 }
&.bottom {
     background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
     height: 10px;
     top: auto;
 }
}

#header {
    color: $rescape-love;
    font-size: $h3-font-size;
}

/* This class is injected with divs to separate the documents by the 3d Model that goes with it */
.modelSection {
    background: linear-gradient(to right, rgba(255, 255, 255, .7), $white);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
