/***
    Note that the Document component's content uses styles that come from Google Docs. These are thus
    intended to be additions and overrides
***/
.document {
    top: $document-top;
    left: $document-left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 10px;
    z-index: 50;
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, .7), $white);
}


.document-gradiant {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: $document-width;
    height: $document-height;

&.left {
     background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     right: auto;
 }
/* This gradient matches the overlap of the 3d model and document so that the 3d model
fades away where ever the document overlaps */
&.right {
     background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     left: auto;
 }
&.top {
     background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     height: 10px;
     bottom: auto;
 }
&.bottom {
     background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
     height: 10px;
     top: auto;
 }
}