
/*** Media consists of a Gallery containing images that can be clicked to show a Lightbox ***/
.media {
    position: absolute;
    z-index: 4;
    height: 100px;
    bottom: calc($footer-height / 2);
    width: 100%;
}


/*** The following is all specific to the Gallery and Lightbox ***/

$gutter:						20px;
$table-cell-gutter:				10px;
$left-col-width:				180px;
$heading-color:					black;

$kbd-bg-color:					#fafafa;
$kbd-border-color:				#ccc;

$link-color:					#00D7FF;
$text-color:					#333;

$nav-gutter:					30px;
$nav-item-padding:				5px;
$nav-padding:					$nav-gutter - $nav-item-padding;


// Base
// ------------------------------

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding: 0 $gutter;
}

// Columns
// ------------------------------

.left-col {
    display: none;
    float: left;
    position: fixed;
    width: $left-col-width;
    z-index: 1;
}

// Navigation
// ------------------------------

.page-nav {
    list-style: none;
    margin: 0;
    padding: 0 $nav-padding 0 0;
    text-align: right;
}
.page-nav__item {

}
.page-nav__link {
    display: block;
    padding: $nav-item-padding;
}

// Layout
// ------------------------------

// header

.page-header {
    padding: $gutter 0;

    h1, h2, h3 {
        // color: white;
    }
    p {
        margin: 0;
    }
    a {
        border-bottom: 1px solid fade(white, 30%);
        // color: white;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom-color: white;
            outline: none;
            text-decoration: none;
        }
    }
}
.page-header__title {
    font-size: 3em;
}
.page-header__subtitle {
    color: #777;
    font-size: 1.125rem;
    font-weight: 300;
}

// subheader

.page-subheader {
    background-color: mix($link-color, white, 8%);
    border-radius: 4px;
    padding: $gutter;
}
.page-subheader__button {
    float: right;
}
.page-subheader__link {
    border-bottom: 1px solid fade($link-color, 30%);
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom-color: $link-color;
        outline: none;
        text-decoration: none;
    }
}

// content

.page-content {
    padding-bottom: $nav-gutter;
}

// footer

.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: #999;
    padding: $nav-gutter 0;
    text-align: center;
}

// options table

.options-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: -$table-cell-gutter;
    margin-right: -$table-cell-gutter;
    max-width: 100%;
    width: 100%;

    td, th {
        padding: $table-cell-gutter;
    }
    th {
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        color: #999;
        font-weight: normal;
    }
    td {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
}

// Miscellaneous
// ------------------------------

.section {
    width: 100%;
}

.gallery {
    width: $gallery-width;
    margin-left: 5px;
    margin-right: $model-3d-document-overlap + 5px;
    overflow: hidden;
    position: absolute;
    display: flex;
    bottom: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}
.gallery-thumbnail {
    background-size: cover;
    border-radius: 3px;
    float: left;
    bottom: 0px;
    height: auto;
    margin: 5px;
    overflow: hidden;
    width: $gallery-thumbnail-width;
    transition: width 300ms ease;
    &:hover {
        height: auto;
        width: calc($gallery-thumbnail-width * 2);
        transition: width 300ms ease;
        margin-left: 0px;
    }
}

.gallery-thumbnail-image {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
    /*
    // left: '50%',
    // position: 'relative',
    //
    // WebkitTransform: 'translateX(-50%)',
    // MozTransform:    'translateX(-50%)',
    // msTransform:     'translateX(-50%)',
    // transform:       'translateX(-50%)',
    */
}

/*
    This react-images (lightbox) container element
    It's possible to style the container in javascript but this more convenient
*/
div:not(#app) > div[data-reactroot] > div > div {
    top: $lightbox-top;
    height: $lightbox-height;
    left: $lightbox-left;
    width: calc($showcase-width - $model-3d-document-overlap);
    background: rgba(0, 0, 0, .75);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* The content div */
    >div {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;

        /* The header div */
        >div[class*="header"] {
            justify-content: flex-end;
            margin-right: 10px;
        }

    }
}

/* We use ExtendedLightbox to wrap the Lightbox and add components to it */
.footerWrapper {
    width: 100%;
    height: 100%;
    /* The figure */
    >figure {
         height: calc(100% - 20px);
         -webkit-margin-before: 0em;
         -webkit-margin-after: 0em;
        /* The image */
        >img {
             height: calc(100% - 20px);
         }
        /* The footer */
        >div {
             color: $white;
             font-size: $h5-font-size;

            /* The counter */
            >div {
                 color: $white;
                 font-size: $h5-font-size;
             }
        }
    }
}
/* The elements added to ExtendedLightbox.js. I control the class names of these */
.image-credit {
    font-size: $h5-font-size;
    color: $faded-gray;
    background-color: $faded-gray-background;
    position: absolute;
    top: 45px;
    right: 25px;
    text-align: right;
    padding: 3px;
    border-radius: 3px;
}

.image-date {
    font-size: $h6-font-size;
    font-style: italic;
}

.download-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    height: 40px;
    outline: none;
    padding: 10px;
    top: 0px;
    vertical-align: bottom;
    width: 40px;
}

.hint {
    font-size: .85em;
    margin: 15px 0;
    color: #666;
}

/***
    kbd is defined by react_images (Lightbox.js). I just copied the default settings
**/
kbd {
    background-color: $kbd-bg-color;
    border-radius: 3px;
    border: 1px solid $kbd-border-color;
    border-bottom-color: darken($kbd-border-color, 4%);
    border-top-color: lighten($kbd-border-color, 4%);
    box-shadow: 0 1px 1px rgba(0,0,0,.12),0 2px 0 0 rgba(255,255,255,.7) inset;
    color: #666;
    display: inline-block;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: .85em;
    font-weight: 500;
    line-height: inherit;
    padding: 1px 4px;
    white-space: nowrap;

    // little hack to tweak "visual-middle" alignment
    position: relative;
    top: -1px;
}

pre {
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: $nav-gutter;
    overflow: auto;
    padding: 10px 20px;
}

/***
    This is all from the react-images (Lightbox.js) example code. I haven't modified it
*/
// Responsive
// ------------------------------

// large phones and up

$media (min-width: 481px) {
    .page-header,
    .page-nav {
        padding-bottom: $nav-gutter;
        padding-top: $nav-gutter;
    }
    .page-header__title {
        font-size: 4em;
    }
    .page-subheader {
        font-size: 1.125em;
        line-height: 28px;
    }
}

// large phones and down

$media (max-width: 768px) {
    .options-table-container {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
    .options-table {
        table-layout: auto;

        td {
            white-space: nowrap;
        }
    }
}

// tablets and up

$media (min-width: 769px) {
    .left-col {
        display: block;
    }
    .right-col {
        padding-left: $left-col-width;
    }
    .page-content {
        padding-left: $nav-gutter;
        position: relative;

        &::before {
            background: linear-gradient(90deg, fade(#e9e9e9, 0%) 94%, #e9e9e9), linear-gradient(90deg, fade(#f6f6f6, 0%) 50%, #f6f6f6);
            border-right: 1px solid #e6e6e6;
            content: " ";
            margin-left: -($left-col-width + $nav-gutter);
            height: 100%;
            position: fixed;
            width: $left-col-width;
        }
    }
    .page-header__subtitle {
        font-size: 2em;
    }
    .page-footer {
        border: none;
        bottom: 0;
        float: left;
        margin-left: -$nav-gutter;
        position: fixed;
        text-align: right;
        width: $left-col-width;
        z-index: 1;
    }
    .page-footer__copyright--small {
        display: none;
    }
}
