/*
    The 3d model is contained in an iframe. The width and height must be passed to the iframe here.
    It is also used for the
*/
iframe {
    width: var(--model-3d-width);
    height: 100%;
}

.model-3ds {
    position: relative;
    width: var(--model-3d-width);
    top: var(--model-3d-top);
    padding-bottom: var(--model-3d-padding-bottom);
    background: var(--black);
}

.model-3d {
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;

    &.current {
        display: block;
    }
    &.previous {
        visibility: hidden;
        opacity: 0;
        &.active {
            visibility: visible;
            opacity: 1;
            transition: opacity 1s ease;
        }
        &.inactive {
            transition: opacity 1s ease, visibility 1s ease;
        }
    }
    &.next {
        visibility: hidden;
        opacity: 0;
        &.active {
            visibility: visible;
            opacity: 1;
            transition: opacity 1s ease;
        }
        &.inactive {
            transition: opacity 1s ease, visibility 1s ease;
        }
    }
}

.model-video {
    position: absolute;
    width: 100%;
    height: 100%;
    &.sketchup-active {
        display: none;
    }
}

.video {
    left: 0;
    width: 100%;
}

/***
    The video alternative to the 3d models
**/
video {
    width: 100%;
    height: 100%;
}

.model-3d-help {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    top: 0;
    left: 0;

    padding: 4px;
    background-color: rgba(255, 255, 255, .5);
    border-style: solid;
    border-width: 2px;
    border-color: var(--rescape-love);
    border-radius: 5px;
    >p {
        font-family: var(--font-stack);
        font-size: 10px;
        color: var(--header-green-left);
    }
}


