/*
    The 3d model is contained in an iframe. The width and height must be passed to the iframe here.
    It is also used for the
*/
iframe {
    width: $model-3d-width;
    height: 100%;
}

.model-3ds {
    position: relative;
    height: $model-3d-height;
    /* Matches the Sketchup load color, which we can't change */
    background: white;
}

.model-3d {
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    display: none;

    &.current {
        display: block;
    }
    &.previous {
        display: block;
        top: -100%;
    }
    &.next {
        display: block;
        top: 100%;
    }
}


.model-3d-gradiant {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: $model-3d-width;
    height: $model-3d-height;

    &.left {
        background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
        width: 10px;
        right: auto;
    }
     /* This gradient matches the overlap of the 3d model and document so that the 3d model
     fades away where ever the document overlaps */
    &.right {
         background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
         width: $model-3d-document-overlap;
         left: auto;
    }
    &.top {
        background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
        height: 10px;
        bottom: auto;
    }
    &.bottom {
        background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
        height: 10px;
        top: auto;
    }
}
