/*
    The 3d model is contained in an iframe. The width and height must be passed to the iframe here.
    It is also used for the
*/
iframe {
    width: var(--model-3d-width);
    height: 100%;
}

.model-3ds {
    position: relative;
    width: var(--model-3d-width);
    top: var(--model-3d-top);
    padding-bottom: var(--model-3d-padding-bottom);
    background: var(--black);
}

.model-3d {
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;

    &.current {
        display: block;
        &.solo {
            transition: top 1s ease, bottom 1s ease;
        }
        &.duo {
            transition: top 1s ease, bottom 1s ease;
        }
    }
    &.previous {
        display: none;
        top: -200%;
        &.active {
            display: block;
            transition: top 1s ease, bottom 1s ease;
        }
        &.inactive {
            transition: top 1s ease, bottom 1s ease, display 1s ease;
        }
    }
    &.next {
        display: none;
        top: 200%;
        &.active {
            display: block;
            transition: top 1s ease, bottom 1s ease;
        }
        &.inactive {
            transition: top 1s ease, bottom 1s ease, display 1s ease;
        }
    }
}
.model-3d-iframe {
    width: calc(100% - var(--model-3d-document-overlap) - 10px);
}
.model-3d-video {

}

.model-3d-gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: var(--model-3d-width);
    height: var(--showcase-3d-height);

    &.left {
        background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
        width: 10px;
        right: auto;
    }
     /* This gradient matches the overlap of the 3d model and document so that the 3d model
     fades away where ever the document overlaps */
    &.right {
         background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
         width: var(--model-3d-document-overlap);
         left: auto;
    }
    &.top {
        background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
        height: 10px;
        bottom: auto;
    }
    &.bottom {
        background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
        height: 10px;
        top: auto;
    }
}

.model-video {
   position: absolute;
    width: 100%;
    height: 100%;
}

.video {
    left: 0;
    width: 100%;
}

/***
    The video alternative to the 3d models
**/
video {
    width: 100%;
    height: 100%;
}

.toggle-3d-is-off {
    position: absolute;
    z-index: 5;
    margin: 5px;
    height: var(--model-3d-toggle-height);
}

.toggle-3d-is-off-icon {
    height: var(--model-3d-toggle-height);
    &:hover {
        cursor: pointer;
        width: calc(var(--model-3d-toggle-width) * 1.5);
        height: calc(var(--model-3d-toggle-height) * 1.5);
        transition: width 300ms ease, height 300ms ease;
    }
}

.toggle-3d-is-on {
    position: absolute;
    z-index: 5;
    margin: 5px;
    width: 180px;
    height: 80px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

.toggle-3d-is-on-icon {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
        width: 25px;
        height: 25px;
        transition: width 300ms ease, height 300ms ease;
    }
}

.toggle-3d-is-on-text {
    padding: 4px;
    background-color: rgba(255, 255, 255, .5);
    border-style: solid;
    border-width: 2px;
    border-color: var(--rescape-love);
    border-radius: 5px;
    >p {
        color: var(--rescape-love);
        font-size: var(--h6-font-size);
    }
}

.model-credits-positioner {
    position: absolute;
    top: calc(var(--model-3d-toggle-height) * .9);
    width: var(--model-3d-toggle-width);
    z-index: 5;
    left: 5px;
    margin-left: 5px;
}

.model-credits {
    z-index: 10;
    font-size: var(--model-credits-font-size);
    position: relative;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background: linear-gradient(to right, rgba(255,255,255,.2), var(--white) 50%, rgba(255, 255, 255, .5) 80%);
}

.model-3d-title {
    z-index: 7;
    position: absolute;
    margin-top: 5px;
    height: var(--model-3d-title-height);
    width: calc(var(--document-left) - 100px);
    left: 10px;
    right: -100px;
    color: var(--rescape-love);
    font-size: var(--model-3d-title-font-size);
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 2px;
    background: linear-gradient(to right, rgba(255,255,255,.2), var(--white) 2%, rgba(77, 78, 83, 1) 99%);
}
