

/**
    The top, height, right, width of these are used to draw the lines connecting the nodes
    The nodes themselves spill outside of this div
*/
.table-of-contents {
    position: fixed;
    z-index: 7;

    &.top {
         top: var(--table-of-contents-top-offset);
         height: var(--table-of-contents-top-height);
         left: var(--document-left);
         width: var(--table-of-contents-width);
         &.expanded {
            height: var(--table-of-contents-height-expanded);
            background: var(--faded-gray-background);
         }
    }

    &.bottom {
        bottom: var(--table-of-contents-bottom-offset);
        height: var(--table-of-contents-bottom-height);
        left: var(--document-left);
        width: var(--table-of-contents-width);
        &.expanded {
            display: none;
        }
    }
}

.table-of-contents-icon {
    z-index: 0;
    position: absolute;
    right: 0;
    height: 100%;
}

.document-graph-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.document-graph-circles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.table-of-contents-node {
    position: absolute;

    /***
        Fade the text of new nodes in so the user notices the change
    ***/
    &.table-of-contents-nodes-enter {
        .outline {
            color: rgba(0, 0, 0, 0);
            display: inline;
        }
    }
    &.table-of-contents-nodes-enter.table-of-contents-nodes-enter-active {
        .outline {
            color: black;
            transition: color 200ms ease-in;
        }
    }
    &.table-of-contents-nodes-leave {
        color: black;
        display: none;
    }
    &.table-of-contents-nodes-leave-active {
        color: black;
        display: none;
    }
    /***
        All text outlines have these properties
     ***/
    .outline {
        position: relative;
        display: inline;
        z-index: 2;
        vertical-align: middle;
        background: var(--half-white);
        border-color: var(--rescape-love);
        border-width: 2px;
        border-style: solid;
        font-family: var(--font-stack);
        color: black;
        text-align: center;

    }
    /***
        All circles have these properties
    ***/
    .circle {
        position: relative;
        z-index: 2;
        vertical-align: middle;
    }

    /***
        Connects circles with outlines
    ***/
    .connector {
        position: relative;
        z-index: 1;
        display:inline-block;
        vertical-align: middle;
        height: 1px;
        background: black;
    }

    &.toc-document {
        height: var(--table-of-contents-document-height);
        margin-left: calc(-1 * var(--table-of-contents-document-height) / 2);
        margin-top: calc(-1 * var(--table-of-contents-document-height) / 2);

        .document-comments-counter {
            position: absolute;
            top: calc(-1 * calc(var(--table-of-contents-document-height) / 2) + calc(var(--comment-button-height) / 6));
            left: calc(calc(-1 * var(--comment-button-width)) - 2px);
            width: var(--comment-button-width);
            height: var(--comment-button-height);

        }
        .circle {
            z-index: 2;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        .connector {
            margin-left: calc(-1 * var(--table-of-contents-document-height) / 2  );
            width: calc(var(--table-of-contents-document-height) / 2)
        }
        .outline {
            z-index: 2;
            height: 100%;
            font-size: var(--table-of-contents-font-size);
            border-radius: 10px;
            padding: var(--table-of-contents-outline-padding);
        }
    }

    &.toc-model-current {
        height: var(--table-of-contents-model-current-height);
        margin-left: calc(-1 * var(--table-of-contents-model-current-height) / 2);
        margin-top: calc(-1 * var(--table-of-contents-model-current-height) / 2);
        .model-comments-counter {
            position: absolute;
            top: calc(-1 * calc(var(--table-of-contents-model-current-height) / 2));
            left: calc(calc(-1 * var(--comment-button-width-small)) - 2px);
            width: var(--comment-button-width-small);
            height: var(--comment-button-height-small);
        }
        .circle {
            width: var(--table-of-contents-model-current-height);
            height: 100%;
        }
        .connector {
            margin-left: calc(-1 * var(--table-of-contents-model-current-height) / 2  );
            width: calc(var(--table-of-contents-document-height) / 2)
        }
        .outline {
            color: var(--rescape-love);
            height: var(--table-of-contents-model-current-height);
            font-size: calc(var(--table-of-contents-font-size) * .75);
            border-radius: 5px;
            padding: calc(var(--table-of-contents-outline-padding) * .8);
        }
    }

    &.toc-model {
        height: var(--table-of-contents-model-height);
        margin-left: calc(-1 * var(--table-of-contents-model-height) / 2);
        margin-top: calc(-1 * var(--table-of-contents-model-height) / 2);
        font-size: calc(var(--table-of-contents-font-size) * .75);
        &:hover {
            font-size: var(--table-of-contents-font-size);
            cursor: pointer;
            transition: width 200ms ease, height 200ms ease, margin-left 200ms ease, margin-top 200ms ease;
            right: -200px;
            height: calc(var(--table-of-contents-model-height) + 10px);
            margin-left: calc(-1 * (var(--table-of-contents-model-height) + 10px) / 2);
            margin-top: calc(-1 * (var(--table-of-contents-model-height) + 10px) / 2);
        }

        .circle {
            height: 100%;
        }
        .connector {
            margin-left: calc(-1 * var(--table-of-contents-model-height) / 2  );
            width: calc(var(--table-of-contents-document-height) / 2)
        }
        .outline {
            height: 100%;
            border-radius: 5px;
            padding: calc(var(--table-of-contents-outline-padding) * .6);
        }
    }

    &.toc-scene {
         left: -5px;
         height: 2px;
         width: 10px;
         background: black;
    }

    &.hidden-model-count {
        /*** Push the text away from the line **/
        height: 10px;
        margin-left: var(--hidden-model-count-margin-left);
        font-size: calc(2 * var(--table-of-contents-font-size) / 3);
        .outline {
             font-size: var(--table-of-contents-font-size);
             height: 10px;
             margin-left: 2px;
             border-radius: 5px;
             padding: calc(var(--table-of-contents-outline-padding) * .4);
        }
    }
}

/***
    The vertical line segments connecting the table of contents nodes
***/
.line-segments {
    position: absolute;
    height: 100%;
    left: -1px;
    width: 2px;
}
.line-segment {
    position: absolute;
    width: 2px;
    background: black;

    /***
        The line representing missing nodes
    ***/
    &.dashed {
        left: 0px;
        background: none;
        border-left: 2px dotted black;
    }
}

.comments-counter {
    position: fixed;
    z-index: 10;
}

.comment-counter {
    position: relative;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    color: var(--rescape-love);
    transition: right 300ms ease, width 300ms ease, height 300ms ease;
    &.comment-counter-document {
        font-size: var(--comment-count-font-size);
        &:hover {
            font-size: calc(var(--comment-count-font-size) * 1.1);
        }
    }
    &.comment-counter-model {
        font-size: var(--comment-count-font-size-small);
        &:hover {
            font-size: calc(var(--comment-count-font-size-small) * 1.1);
        }
    }
    &:hover {
         cursor: pointer;
         left: -10%;
         width: calc(110%);
         height: calc(110%);
         transition: right 300ms ease, width 300ms ease, height 300ms ease, font-size 300ms ease;
     }
}
.comment-icon {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.comment-count {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: var(--comment-count-top);
    left: 10%;
    text-align: left;
    line-height: 10px;
    vertical-align: middle;
}


