

.table-of-contents {
    position: fixed;
    z-index: 7;

    &.top {
         top: 10px;
         height: calc($header-height - 10px);
         right: calc(calc(100% - $document-absolute-left) / 2);
         &.expanded {
         }
    }

    &.bottom {
        bottom: 10px;
        height: calc($footer-height - 10px);
        right: calc(calc(calc(100% - $document-absolute-left) / 2) - calc(2 * $table-of-contents-button-bottom-width / 3));
        width: $table-of-contents-button-bottom-width;
    }

    &.showing {
        margin-left: 10px;
        left: 0px;
        width: calc($showcase-width - $model-3d-document-overlap);
        top: calc($model-3d-top);
        height: $model-3d-height;
    }
}

.table-of-contents-icon {
    z-index: 0;
    position: absolute;
    right: 0;
    height: 100%;
}

.table-of-contents-close-icon {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 30px;
    right: 0px;
    padding: 2px;
    &:hover {
         cursor: pointer;
         width: 35px;
         height: 35px;
         transition: width 300ms ease, height 300ms ease
    }

}


