

/**
    The top, height, right, width of these are used to draw the lines connecting the nodes
    The nodes themselves spill outside of this div
*/
.table-of-contents {
    position: fixed;
    z-index: 7;

    &.top {
         top: $table-of-contents-top-offset;
         height: $table-of-contents-top-height;
         left: $document-left;
         width: $table-of-contents-width;
         &.expanded {
            height: $table-of-contents-height-expanded;
         }
    }

    &.bottom {
        bottom: $table-of-contents-bottom-offset;
        height: $table-of-contents-bottom-height;
        left: $document-left;
        width: $table-of-contents-width;
        &.expanded {
            display: none;
        }
    }
}

.table-of-contents-icon {
    z-index: 0;
    position: absolute;
    right: 0;
    height: 100%;
}

.table-of-contents-close-icon {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 30px;
    right: 0px;
    padding: 2px;
    &:hover {
         cursor: pointer;
         width: 35px;
         height: 35px;
         transition: width 300ms ease, height 300ms ease
    }

}

.document-graph-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.document-graph-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table-of-contents-node {
    position: absolute;
    /* Set right as far as possible so we don't worry about wrapping. This is how far the model node extends */
    right: calc(-1 * $table-of-contents-model-current-width);

    /***
        All text outlines have these properties
     ***/
    .outline {
        background: $half-white;
        border-color: $rescape-love;
        border-width: 2px;
        border-style: solid;
        position: relative;
        display: inline;
        font-family: $font-stack;
        color: black;
        text-align: center;
        vertical-align: middle;
    }
    /***
        All circles have these properties
    ***/
    .circle {
        vertical-align: middle;
    }

    &.toc-document {
        height: $table-of-contents-document-height;
        margin-left: calc(-1 * $table-of-contents-document-height / 2);
        margin-top: calc(-1 * $table-of-contents-document-height / 2);
        &:hover {
             cursor: pointer;
             transition: width 300ms ease, height 300ms ease, font-size 300ms ease;
             height: calc($table-of-contents-document-height + 2px);
        }
        /***
            Hover makes it bigger, stay bigger while in expanded mode
        ***/
        &.expanded {
             height: calc($table-of-contents-document-height + 2px);
        }

        .circle {
            height: 100%;
        }
        .outline {
            height: 100%;
            font-size: $h4-font-size;
            border-radius: 10px;
            padding: 5px;
        }
    }

    &.toc-model-current {
        height: $table-of-contents-model-current-height;
        margin-left: calc(-1 * $table-of-contents-model-current-height / 2);
        margin-top: calc(-1 * $table-of-contents-model-current-height / 2);
        .circle {
            width: $table-of-contents-model-current-height;
            height: 100%;
        }
        .outline {
            height: $table-of-contents-model-current-height;
            font-size: $h5-font-size;
            border-radius: 10px;
            padding: 4px;
        }
    }

    &.toc-model {
        height: $table-of-contents-model-height;
        margin-left: calc(-1 * $table-of-contents-model-height / 2);
        margin-top: calc(-1 * $table-of-contents-model-height / 2);
        font-size: $h6-font-size;
        &:hover {
            font-size: $h5-font-size;
            cursor: pointer;
            transition: width 300ms ease, height 300ms ease, margin-left 300ms ease, margin-top 300ms ease;
            height: calc($table-of-contents-model-height + 10px);
            margin-left: calc(-1 * ($table-of-contents-model-height + 10px) / 2);
            margin-top: calc(-1 * ($table-of-contents-model-height + 10px) / 2);
        }

        .circle {
            height: 100%;
        }
        .outline {
            height: 100%;
            margin-left: 2px;
            border-radius: 5px;
            padding: 2px;
        }
    }

    &.hidden-model-count {
        /*** Push the text away from the line **/
        height: 10px;
        margin-left: -40px;
        margin-top: -5px;
        font-size: $h6-font-size;
        .outline {
             height: 10px;
             font-size: $h6-font-size;
             margin-left: 2px;
             border-radius: 5px;
             padding: 2px;
        }
    }
}

