@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SourceSansPro-Regular.ttf');
    src: local('SourceSansPro');
}
@font-face {
    font-family: 'TrainStation';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TrainStation.ttf');
    src: local('TrainStation');
}
