.footer {
    position: fixed;
    z-index: 6;
    bottom: 0px;
    height: var(--footer-height);
    left: 0px;
    right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(77, 78, 83, .8) 30%, rgba(77, 78, 83, 1) 50%);
}

.footer-gradient {
    position: absolute;
    z-index: 8;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;

    &.left {
         background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
         width: 10px;
         right: auto;
    }
}


/***
    The page down button. Most styling is handled in ender.css
***/
.page-down {
    top: 0px;
}


.gallery-open {
    display: none;
}

