.footer {
    position: fixed;
    z-index: 6;
    bottom: 0px;
    height: $footer-height;
    left: 0px;
    right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1) 50%);
}

/***
    The page down button. Most styling is handled in ender.css
***/
.page-down {
    top: 0px;
}
