.footer {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    height: $footer-height;
    left: 0px;
    right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1) 50%);
}