.header {
    position: fixed;
    /* Keep the header above the document */
    z-index: 6;
    left: 0px;
    right: 0px;
    top: var(--header-top);
    height: var(--header-height);
    margin-left: var(--header-margin-left);
    margin-right: var(--header-margin-right);
    background: var(--header-background);
};

.header-icon {
    position: absolute;
    bottom: var(--rescape-icon-bottom);
    height: var(--rescape-icon-height);
    margin-left: var(--standard-left-margin)
}

.header-links {
    position: absolute;
    font-family: TrainStation;
    bottom: var(--header-links-bottom);
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
}
.header-link {
    color: var(--rescape-love);
    font-size: var(--header-link-font-size);
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
    }
    &.inline {
        padding: 0px;
        /** This matches the Google Docs link style **/
        color: #1155cc;
        text-decoration: underline;
    }
}


/***
    The page up button. Most styling is handled in ender.css
***/
.page-up {
    bottom: 0px;
}
