.header {
    position: fixed;
    /* Keep the header above the document */
    z-index: 6;
    left: 0px;
    right: 0px;
    top: var(--header-top);
    height: var(--header-height);
    margin-left: var(--header-margin-left);
    margin-right: var(--header-margin-right);
    background: var(--header-background);
};

.header-icon {
    position: absolute;
    bottom: var(--rescape-icon-bottom);
    height: var(--rescape-icon-height);
    margin-left: var(--standard-left-margin)
}

.header-gradient {
    position: absolute;
    z-index: 7;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;

    &.left {
        background: linear-gradient(to left, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
        width: 10px;
        right: auto;
}

/* This gradient matches the overlap of the 3d model and document so that the 3d model
fades away where ever the document overlaps */
&.right {
     background: linear-gradient(to right, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     width: 10px;
     left: auto;
 }
&.top {
     background: linear-gradient(to top, rgba(77, 78, 83, 0), rgba(77, 78, 83, 1));
     height: 10px;
     bottom: auto;
 }
&.bottom {
     background: linear-gradient(to bottom, rgba(77, 78, 83,0), rgba(77, 78, 83,1));
     height: 10px;
     top: auto;
 }
}

.header-links {
    position: absolute;
    bottom: var(--header-links-bottom);
    right: 0px;
    padding-left: 20px;
    padding-right: var(--document-margin-left);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
}
.header-link {
    color: var(--rescape-love);
    font-size: var(--header-link-font-size);
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
        cursor: pointer;
    }
    &.inline {
        padding: 0px;
        /** This matches the Google Docs link style **/
        color: #1155cc;
        text-decoration: underline;
    }
}


/***
    The page up button. Most styling is handled in ender.css
***/
.page-up {
    bottom: 0px;
}
