.header {
    position: fixed;
    /* Keep the header above the document */
    z-index: 100;
    left: 0px;
    right: 0px;
    top: $header-top;
    height: $header-height;
    margin-left: 10px;
    margin-right: 10px;
    background-color: pink;
};
