.showcase {
    /* allows z-indexing to work with iframes */
    left: $showcase-left;
    position: fixed;
    top: $showcase-top;
    height: $showcase-height;
    width: $showcase-width;
    z-index: 2;
}

.share-icons {
    display: flex;
    position: absolute;
    top: $header-height;
    height: 32px;
    right: $model-3d-document-overlap;
    padding:5px;
    margin-right: 10px;
    &:hover {
         cursor: pointer;
    }


    div {
        float: right;
        margin:2px;
        width: 16px;
        height: 16px;

        &:hover {
            div {
                height: auto;
                width: 32px;
                svg: {
                    height: 32px;
                    width: 32px;
                }
            }
            transition: width 300ms ease, height 300ms ease;
            margin: 0px;
        }

    }
}
