.showcase {
    /* allows z-indexing to work with iframes */
    left: $showcase-left;
    position: fixed;
    top: $showcase-top;
    height: $showcase-height;
    width: $showcase-width;
    z-index: 2;
}

.share-icons {
    display: flex;
    position: absolute;
    top: $header-height;
    height: 32px;
    right: $model-3d-document-overlap;
    padding:5px;
    margin-right: 10px;
    &:hover {
         cursor: pointer;
    }

    div {
        float: right;
        margin:2px;
        width: 16px;
        height: 16px;

        &:hover {
            div {
                height: auto;
                width: 32px;
                svg: {
                    height: 32px;
                    width: 32px;
                }
            }
            transition: width 300ms ease, height 300ms ease;
            margin: 0px;
        }
        transition: width 300ms ease, height 300ms ease;

    }
}

/***
    Both the media and model-3d title need to fade in and out with the model scroll
***/
.media, .model-3d-title, .share-icons {

    &.fade-out {

         /** These are only used by the model title when the lightbox appears--no upward or downward **/
         opacity: 0;
         visibility: hidden;
         transition: visibility 600ms ease, opacity 600ms ease;

        /*
            The model is scrolling down, fade the components downward
        */
        &.downward {

            &.media, &.model-3d-title {
                  bottom: -100px;
                  transition: visibility 600ms ease, opacity 600ms ease, bottom 300m ease;
            }

            &.share-icons {
                 top: 100px;
                 transition: visibility 600ms ease, opacity 600ms ease, top 300m ease;
            }
            opacity: 0;
            visibility: hidden;
        }

        /*
            The model is scrolling up, fade the components upward
        */
        &.upward {
            &.media, &.model-3d-title {
                bottom: 100px;
                transition: visibility 600ms ease, opacity 600ms ease, bottom 300ms ease;
            }
            &.share-icons {
                 top: -100px;
                 transition: visibility 600ms ease, opacity 600ms ease, top 300ms ease;
             }
            opacity: 0;
            visibility: hidden;
        }
    }

    &.fade-in {
         visibility: visible;
         opacity: 1;

        &.media, &.model-3d-title {
            transition: visibility 300ms linear, opacity 300ms linear, bottom 600ms ease;
        }

        &.share-icons {
            transition: visibility 300ms linear, opacity 300ms linear, top 600ms ease;
        }
    }
}
