.showcase {
    /* allows z-indexing to work with iframes */
    left: var(--showcase-left);
    position: fixed;
    top: var(--showcase-top);
    height: var(--showcase-height);
    right: var(--showcase-right);
    z-index: 2;
}

.share-icons {
    display: flex;
    position: absolute;
    top: calc(var(--header-height) - 20px);
    height: 32px;
    right: 5px;
    &:hover {
         cursor: pointer;
    }

    div {
        float: right;
        margin:2px;
        width: 16px;
        height: 16px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/***
    Both the media and model-3d title need to fade in and out with the model scroll
***/
.media, .model-3d-title, .share-icons {

    &.fade-out {

         /** These are only used by the model title when the lightbox appears--no upward or downward **/
         opacity: 0;
         visibility: hidden;
         transition: visibility 600ms ease, opacity 600ms ease;

        /*
            The model is scrolling down, fade the components downward
        */
        &.downward {

            &.media, &.model-3d-title {
                  bottom: -100px;
                  transition: visibility 600ms ease, opacity 600ms ease, bottom 300ms ease;
            }

            &.share-icons {
                 top: 100px;
                 transition: visibility 600ms ease, opacity 600ms ease, top 300ms ease;
            }
            opacity: 0;
            visibility: hidden;
        }

        /*
            The model is scrolling up, fade the components upward
        */
        &.upward {
            &.media, &.model-3d-title {
                bottom: 100px;
                transition: visibility 600ms ease, opacity 600ms ease, bottom 300ms ease;
            }
            &.share-icons {
                 top: -100px;
                 transition: visibility 600ms ease, opacity 600ms ease, top 300ms ease;
             }
            opacity: 0;
            visibility: hidden;
        }
    }

    &.fade-in {
         visibility: visible;
         opacity: 1;

        &.media, &.model-3d-title {
            transition: visibility 300ms linear, opacity 300ms linear, bottom 600ms ease;
        }

        &.share-icons {
            transition: visibility 300ms linear, opacity 300ms linear, top 600ms ease;
        }
    }
}

/***
    Used by App.js to suggest rotating devices to landscape
***/
.please-rotate {
    position: absolute;
    top: calc(100% - var(--model-3d-padding-bottom));
    bottom: var(--model-height);
    left: 0;
    width: var(--document-left);
    text-align: center;
    font-size: var(--h3-font-size);
    background: black;
    color: var(--rescape-love);
}


.model-3d-title {
    z-index: 7;
    position: absolute;
    left: 0px;
    top: calc(var(--model-3d-top) - var(--model-3d-title-height));
    height: var(--model-3d-title-height);
    right: 50%;
    color: var(--gray);
    font-family: var(--font-stack);
    font-size: var(--model-3d-title-font-size);
    padding-top: 0px;
    padding-bottom: 2px;
}

.scene-title {
    span {
        position: absolute;
        width: 100%;
    }
}

.scene-title-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
    transition-delay: 300ms;
}

.scene-title-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.scene-title-leave {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.showcase-links {
    position: absolute;
    right: 0px;
    height: var(--showcase-links-height);
    top: calc(var(--model-3d-top) - var(--showcase-links-height));
    margin-left: 5px;
    margin-right: 5px;
    font-family: var(--font-stack);
    font-size: var(--showcase-links-font-size);
    color: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    >span {
        margin-left: 5px;
        margin-right: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
.model-credits {
    >a {
        color: var(--gray);
    }
}

.toggle-3d-is-off {
}

.toggle-3d-is-on {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.toggle-3d-is-on-icon {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
        transition: width 300ms ease, height 300ms ease;
    }
}

.model-credits {
}

